@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf')  format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('./img/5_background/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: fantasy;
    height: 100vh;
}

h1 {
    font-size: 60px;
    font-family: 'zabars', fantasy;
    letter-spacing: 3px;
    margin: unset;
    margin-top: 20px;
    margin-bottom: 10px;
}

canvas {
    background-color: black;
    display: block;
    cursor: pointer;
}

.commands {
    width: 720px;
}

.command-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.container {
    position: relative;
    width: 720px;
}

.d-none {
    display: none;
}

#mute, #loud {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.description {
    margin-bottom: 20px;
    width: 720px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 680px;
    padding: 10px;
    /* background-color: #994409; */
}

span {
    font-size: 20px;
}

.space {
    height: 52px;
    width: auto;
}

#up, #left {
    margin-right: 10px;
}

@media only screen and (max-width: 950px) {
    .container, .description {
        width: 100%;
    }  
    
    #mute, #loud {
        position: absolute;
        top: unset;
        bottom: 20px;
        right: 50%;
        transform: translate(50%, 0);
        z-index: 3;
    }

    canvas {
        width: 100%;
    }

    .overlay {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 720px) {
    h1, .description, .commands {
        display: none;
    }
}


@media only screen and (max-height: 568px) {
    #mute, #loud {
        position: absolute;
        top: unset;
        bottom: 20px;
        right: 50%;
        transform: translate(50%, 0);
        z-index: 3;
    }

    body {
        background: black;
    }
    canvas {
        height: 100vh;
    } 
    .overlay {
        display: flex;
        justify-content: space-between;
    }  
    h1, .description, .commands {
        display: none;
    }
}